<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<!-- Definition of the Authentication Service -->

	<sec:http pattern="/oauth/token" create-session="stateless"
		authentication-manager-ref="clientAuthenticationManager"  xmlns="http://www.springframework.org/schema/security">
		<sec:intercept-url pattern="/oauth/token"	access="IS_AUTHENTICATED_ANONYMOUSLY" />
			
		<sec:http-basic entry-point-ref="clientAuthenticationEntryPoint" />
		<sec:custom-filter ref="clientCredentialsTokenEndpointFilter" after="BASIC_AUTH_FILTER" />
		<sec:access-denied-handler ref="oauthAccessDeniedHandler" />
	</sec:http>


<!-- Protected resources -->
<http pattern="/api/**"
      create-session="never"
      entry-point-ref="oauthAuthenticationEntryPoint"
      access-decision-manager-ref="accessDecisionManager"
      xmlns="http://www.springframework.org/schema/security">
    <anonymous enabled="false"/>
    <intercept-url pattern="/api/**"
                   access="ROLE_USER"/>
    <custom-filter ref="resourceServerFilter"
                   before="PRE_AUTH_FILTER"/>
    <access-denied-handler
            ref="oauthAccessDeniedHandler"/>
</http>

<bean id="clientAuthenticationEntryPoint"
		class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint">
		<property name="realmName" value="Authorization/client" />
		<property name="typeName" value="Basic" />
	</bean>

	<bean id="oauthAuthenticationEntryPoint"
		class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint">
		<property name="realmName" value="Authorization" />
	</bean>

	<!-- If authentication fails and the caller has asked for a specific content 
		type response, this entry point can send one, along with a standard 401 status -->
	
	<bean id="oauthAccessDeniedHandler"
		class="org.springframework.security.oauth2.provider.error.OAuth2AccessDeniedHandler" />

	<!-- Allows clients to authenticate using request parameters if included 
		as a security filter. It is recommended by the specification that you permit 
		HTTP basic authentication for clients, and not use this filter at all. -->
	<bean id="clientCredentialsTokenEndpointFilter"
		class="org.springframework.security.oauth2.provider.client.ClientCredentialsTokenEndpointFilter">
		<property name="authenticationManager" ref="clientAuthenticationManager" />
	</bean>

<bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased"
      xmlns="http://www.springframework.org/schema/beans">
    <constructor-arg>
        <list>
            <bean class="org.springframework.security.oauth2.provider.vote.ScopeVoter"/>
            <bean class="org.springframework.security.access.vote.RoleVoter"/>
            <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
        </list>
    </constructor-arg>
</bean>

<!-- 	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider
			user-service-ref="clientDetailsUserService">
			<sec:password-encoder ref="passwordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager> -->
<!-- Authentication in config file -->
<authentication-manager id="clientAuthenticationManager" xmlns="http://www.springframework.org/schema/security">
    <authentication-provider user-service-ref="clientDetailsUserService"/>
</authentication-manager>

<authentication-manager alias="authenticationManager" xmlns="http://www.springframework.org/schema/security">
    <authentication-provider > <!-- user-service-ref="customUserDetailsService"> -->
        <user-service id="userDetailsService"> <!-- Si se descomenta lo de arriba tendria que quitarse esto -->
            <user name="admin" password="admin" authorities="ROLE_USER"/>
        </user-service>
    </authentication-provider>
</authentication-manager>



<bean id="clientDetailsUserService"
      class="org.springframework.security.oauth2.provider.client.ClientDetailsUserDetailsService">
    <constructor-arg ref="clientDetails"/>
</bean>


<!-- 	<sec:http pattern="/api/**" create-session="never" authentication-manager-ref="authenticationManager">
		<sec:anonymous enabled="false" />
		<sec:intercept-url pattern="/api/**" method="POST" access="ROLE_USER"/>
		<sec:custom-filter ref="resourceServerFilter" before="PRE_AUTH_FILTER"/>
		<sec:http-basic entry-point-ref="oauthAuthenticationEntryPoint" />
		<sec:access-denied-handler ref="oauthAccessDeniedHandler" />
		</sec:http>
	 -->

	<!-- Create client details bean for manage client details from database -->
	<!-- The JdbcClientDetailsService provide default implementation for fetching 
		the data from oauth_client_details table Other wise we need to create our 
		custom class that Implement ClientDetailsService Interface and override its 
		loadClientByClientId method -->


	<!-- Configure Authentication manager -->
	<!--  <bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="11" />
	</bean>
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder ref="passwordEncoder"/> 
		</authentication-provider>
	</authentication-manager>--><!-- 

	<bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="256" />
	</bean> -->

	<!-- This class is the custom implementation of UserDetailSerive Interface 
		that provide by the spring, which we Need to implement and override its method. 
		But for Oauth spring provide us ClientDetailsUserDetailsService, which already 
		implement UserDetailSerive Interface and override its method. -->




	<!-- Oauth Token Service Using Database -->
	<!-- The JdbcTokenStore class provide the default implementation from access 
		the token from database. If we want to customize the JDBC implementation 
		we need to implement TokenStore interface and overrider its methods -->
		
		
		
	<bean id="tokenStore"
		class="org.springframework.security.oauth2.provider.token.store.JdbcTokenStore">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- This the service class which is used to access the function of JdbcTokenStore 
		class. This is like MVC structure JdbcTokenStore is Dao layer and DefaultTokenServices 
		is service layer -->
	<bean id="tokenServices" class="org.springframework.security.oauth2.provider.token.DefaultTokenServices">
		<property name="tokenStore" ref="tokenStore" />
		<property name="supportRefreshToken" value="true" />
		<property name="clientDetailsService" ref="clientDetails" />
		<property name="accessTokenValiditySeconds" value="4500" />
	</bean>





	<!-- A user approval handler that remembers approval decisions by consulting 
		existing tokens -->
	<!-- <bean id="oAuth2RequestFactory"
		class="org.springframework.security.oauth2.provider.request.DefaultOAuth2RequestFactory">
		<constructor-arg ref="clientDetails" />
	</bean> -->
	<bean id="oAuth2RequestFactory"
		class="org.springframework.security.oauth2.provider.request.DefaultOAuth2RequestFactory">
		<constructor-arg ref="clientDetails" />
	</bean>
	
	
	<bean id="userApprovalHandler"
		class="org.springframework.security.oauth2.provider.approval.TokenStoreUserApprovalHandler">
 		<property name="requestFactory" ref="oAuth2RequestFactory" />
		<property name="tokenStore" ref="tokenStore" />
	</bean>




<!-- Token management -->



	<!-- Authorization Server Configuration of the server is used to provide 
		implementations of the client details service and token services and to enable 
		or disable certain aspects of the mechanism globally. -->
	<oauth:authorization-server
		client-details-service-ref="clientDetails" token-services-ref="tokenServices"
		user-approval-handler-ref="userApprovalHandler">
		<oauth:authorization-code />
		<oauth:implicit />
		<oauth:refresh-token />
		<oauth:client-credentials />
		<oauth:password />
	</oauth:authorization-server>

	<!-- A Resource Server serves resources that are protected by the OAuth2 
		token. Spring OAuth provides a Spring Security authentication filter that 
		implements this protection. -->
	<oauth:resource-server id="resourceServerFilter"
		token-services-ref="tokenServices" resource-id="rsourceId" />
		
<!-- 	
<bean id="clientDetails"
		class="org.springframework.security.oauth2.provider.client.JdbcClientDetailsService">
		<constructor-arg index="0">
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>  -->
		
		<!-- Client Definition -->
	<oauth:client-details-service id="clientDetails">

    <oauth:client client-id="my-trusted-client"
                  authorized-grant-types="password,authorization_code,refresh_token,implicit,redirect"
                  authorities="ROLE_CLIENT, ROLE_TRUSTED_CLIENT"
                  redirect-uri="/web" 
                  secret="secret" 
                  scope="read,write,trust"
                  access-token-validity="30"
                  refresh-token-validity="600"/>

</oauth:client-details-service>
	




	<sec:global-method-security pre-post-annotations="enabled"
		proxy-target-class="true">
    <sec:expression-handler ref="oauthExpressionHandler"/>
</sec:global-method-security>
	<oauth:expression-handler id="oauthExpressionHandler"/>
<oauth:web-expression-handler id="oauthWebExpressionHandler"/>


	<!-- Grants access if only grant (or abstain) votes were received. We can 
		protect REST resource methods with JSR-250 annotations such as @RolesAllowed -->
<!-- 	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<property name="decisionVoters">
			<list>
				<bean class="org.springframework.security.access.annotation.Jsr250Voter" />
			</list>
		</property>
	</bean> -->



	<!-- <sec:authentication-manager> <sec:authentication-provider> <sec:user-service> 
		<user name="tmain" password="123456" authorities="ROLE_USER" /> </sec:user-service> 
		</sec:authentication-provider> </sec:authentication-manager> -->

	


	<!-- This tag is used for creating InMemory Client-Details-Service -->
	<!-- <oauth:client-details-service id="clientDetailService"> <oauth:client 
		client-id="my-client-with-registered-redirect" authorized-grant-types="authorization_code,,client_credentials" 
		authorities="ROLE_CLIENT" redirect-uri="http://anywhere?key=value" scope="read,trust" 
		/> </oauth:client-details-service> $2a$11$/s4ymyxwLLUxafPRR15v3.tWv.zmEkZj8IV09qPOD9oQ3SmilmtPy -->
		</beans>

